<div class="card card-small">
    <div class="left">
        <button mat-button (click)="goToPrevMonth()"> previous month</button>
    </div>
    <div><p>{{monthName}} {{year}}</p></div>
    <div class="right"><button mat-button (click)="goToNextMonth()">next month</button></div>
</div>
<div class="month">
  <mat-grid-list class="content week-days" cols="7" rowHeight="2:1">
    <ng-container>
      <mat-grid-tile>Monday</mat-grid-tile>
      <mat-grid-tile>Tuesday</mat-grid-tile>
      <mat-grid-tile>Wednesday</mat-grid-tile>
      <mat-grid-tile>Thursday</mat-grid-tile>
      <mat-grid-tile>Friday</mat-grid-tile>
      <mat-grid-tile>Saturday</mat-grid-tile>
      <mat-grid-tile>Sunday</mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <mat-grid-list class="content" cols="7" rowHeight="2:1">
    <ng-container>
      <mat-grid-tile
        *ngFor="let i of monthArray"
        [ngClass]="{'not-display': i.day === '.'}">
        <mat-list  (click)="gotToDay(i)">
          <mat-list-item [ngClass]="{'today': i.day.num === day && actualMonth === month}" >
            <p class="s1">
              <span matBadge="{{i.day.events}}" matBadgeOverlap="false">
                {{i.day.num}}
              </span>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>

</div>

<app-daily *ngIf="item !== null" [item]="item"></app-daily>

