@import './../app.component.scss';

.mat-grid-tile {
  height: 600px;
  flex-direction: row;

}

  .content {
    display: flex;
    margin: 20px auto 32px;
    font-family: Manjari Thin;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    //background-color: #fafafa;
    //background: url("./../../src/assets/rysunek.svg");
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-family: Manjari Thin;

    div p {
      font-size: 17px;
      padding-top: 10px;
    }
  }

  .card.highlight-card {
    background-color: $blue;
    color: $background;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }


  .card.card-small {
    height: 16px;
    width: 97%;
    background: $background;
  }


  .left {
    left: 35px;
    position: absolute;
  }

  .right {
    right: 35px;
    position: absolute;
  }

  .left .mat-button, .right .mat-button {
    font-family:  $font-manjari;
  }

  mat-grid-tile {
    background: none;
  }
  mat-grid-list {
    width: 80%;
  }

  mat-divider {
    background-color: $violet ;
    height: 1px;
  }

  .not-display {
    display: none;
  }

  .week-days mat-grid-tile {
    font-weight: 600;
  }

  .mat-badge-content {
    color: #fff;
    background: $light-violet;
  }
  .mat-list-item {
    font-family: $font-manjari;;
    height: 40px;
  }

  .mat-grid-tile {
    height: 40px;
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
  }

  .s1 {
    padding-top: 13px;
  }

  .today {
    background: $light-blue;
    border-radius: 30px;
    font-weight: 600;
  }

@media screen and (max-width: 767px) {
  .month {
    height: 70%;
  }

  .mat-grid-list {
    width: 100%;
  }

}

@media screen and (max-width: 575px) {

  .mat-grid-list {
    height: 60px;

    .mat-grid-tile  {
      height: 17px;
    }
  }

}
