<mat-card  class="content">
   <mat-card-header>
       <div class="left">
         <button (click)="goToPrevDay()" mat-button>
           <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_left</mat-icon>
         </button>
       </div>
       <mat-card-title>{{dayOfTheWeek}}, {{day}} of {{month}} {{year}}</mat-card-title>
       <div class="right">
         <button mat-button (click)="goToNextDay()">
           <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
         </button>
       </div>
   </mat-card-header>
   <mat-card-content>
     <h4>{{description}}</h4>
      <h4 *ngIf="city && temperatureInCelcius">{{city}}, {{temperatureInCelcius}} C</h4>
      <h4 *ngIf="wind">Wind: {{wind}}</h4>
   </mat-card-content>
   <mat-card-content>
      <h4> Events: </h4>
     <h4 *ngIf="eventsOfDay.length === 0"> No Events </h4>
      <ul *ngFor="let i of eventsOfDay">
         <li>{{i.event}}: {{i.hour}}:00
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </button>
            <mat-menu class="menu-icon" #menu="matMenu">
              <button mat-menu-item (click)="changeItem(i)">edit</button>
              <button mat-menu-item (click)="deleteItem(i)">delete</button>
            </mat-menu>
           <mat-checkbox (change)="uncheckItem(i)" [color]="taskColor"></mat-checkbox>
          </li>
      </ul>
    </mat-card-content>
   <mat-card-actions>
     <button mat-button id="add" (click)="addNewEvent(day)">New event</button>
   </mat-card-actions>
 </mat-card>
<div id="divider"></div>

