@import './../app.component.scss';
.card {
    border-radius: 4px;
    border: 1px solid $light-blue;
    background-color: $light-blue;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}

.card.card-small {
    height: 16px;
    width: 97%;
  }

.left {
    left: 35px;
    position: absolute;
}

.right {
    right: 35px;
    position: absolute;
}

.content {
    display: flex;
    margin: 0 auto 32px;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: $light-blue;
    font-family: $font-manjari;

    h4 {
      font-family: $font-manjari;
    }
    mat-button .mat-icon-button, .mat-stroked{
      color: $main-color !important;

    }

    .mat-button {
      font-family: Manjari Thin;
      color: $main-color;
    }
  }

mat-card {
    max-width: 800px;
    background:#c8d1e0;
    font-family: $font-manjari;



}
#divider {
  height: 100px;
  width: 100%;
}

.mat-checkbox  {
  background-color: $main-color;
}
