
<h3>Change event:</h3>

<mat-form-field appearance="fill">
    <input matInput [(ngModel)]="event">
</mat-form-field>

<mat-form-field appearance="fill">
    <input matInput [(ngModel)]="hour">
</mat-form-field>

<button mat-button (click)="submit()"> submit</button>
