@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  scroll-behavior: smooth;
}

$font-manjari: Manjari Thin;
$background: #c8d1e0;
$blue: #1976d2;
$main-color: #125699;
$violet: #5c1687;
$light-violet: #9c99db;
$light-blue: #a6c9f4;
