

<div *ngIf="option === 'month' && isShowingWelcome === false">
  <app-month></app-month>
</div>

<div  *ngIf="option === 'daily' && isShowingWelcome === false">
  <app-daily [item]="item"></app-daily>
<div>

<router-outlet></router-outlet>
