
    <h3>Add new event to your calendar:</h3>

        <mat-form-field appearance="fill">
            <mat-label>Enter event</mat-label>
            <input matInput [(ngModel)]="event">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Enter hour</mat-label>
            <input matInput [(ngModel)]="hour">
        </mat-form-field>

   <button mat-button (click)="submit()"> submit</button>
